<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.designjam.moveinbox"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/box_logo_header"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

    	<activity
            android:name="com.designjam.moveinbox.core.MenuMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible">

        </activity>
        <activity
            android:name="com.designjam.moveinbox.core.BaseActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        
        <activity
            android:name="com.designjam.moveinbox.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>  

        </activity>
</application>
        
</manifest>
